body {
    margin: 0 0;
    padding-bottom: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    position: sticky;
    bottom: 10px;
    background-color: white;
    margin: 0 0;
}

.navbar a {
    text-decoration: none;
}

.mypicture {
    width: 50px;
    border-radius: 20px;
}

.birthday_list {
    list-style: none;
}

.all_friends p:hover {
    background-color: rgba(128, 128, 128, 0.315);
    border-radius: 5px;
}
.bookmark_list p:hover {
    background-color: rgba(128, 128, 128, 0.315);
    border-radius: 5px;
}
.birthday_list p:hover {
    background-color: rgba(128, 128, 128, 0.315);
    border-radius: 5px;
}

.all_friends img {
    width: 50px;
}

.top_list {
    list-style: none;
    display: flex;
}

.top_navbar {
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 5px;
    display: flex;
}

.top_list {
    display: inline-flex;
    justify-content: space-between;
}

.친구 {
    position: fixed;
    left: 5px;
    top: 5px;
    padding: 5px 5px;
    font-size: 20px;
    font-weight: 600;
}

.top_list {
    position: fixed;
    right: 5px;
    top: 5px;
    padding: 5px 5px;
}
