.credit {
  background: yellow;
  text-align: end;
}

html,
body {
  margin: 0;
  height: 100%;
}

.backGround {
  background-image: url('../source/backGround.jpg');
  background-size: cover;
  align-content: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.logIn {
  margin-top: 20%;
  background: red;
  display: inline-block;
  height: max-content;
}

#ID,
#PW {
  display: flex;
  flex-direction: row;
}

#IDlogo,
#PWlogo {
  width: 20%;
  text-align: center;
  background: yellow;
  border-bottom: 1px solid black;
}

#IDinput,
#PWinput {
  width: 80%;
  display: flex;
}

#Button {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
}
